@import url("https://fonts.googleapis.com/css2?family=DotGothic16&family=Raleway+Dots&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: none;
}

body {
  width: 100%;
  height: 100vh;
  background: rgb(63, 94, 251);
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );

  display: flex;
  justify-content: center;
  align-items: center;
}

#wrapD3Cube {
  width: 400px;
  height: 400px;
}

#D3Cube {
  width: 224px;
  height: 224px;
  transform-style: preserve-3d;
  transform: rotateX(-22deg) rotateY(-38deg) rotateZ(0deg);
  margin: auto;
  position: relative;
  transform-style: preserve-3d;
  transition: all 0.5s ease-in-out;
  font-size: 150px;
  text-align: center;
  font-family: "DotGothic16", sans-serif;
}

#D3Cube > div {
  position: absolute;
  transition: all 0.5s ease-in-out;
  width: 224px;
  height: 224px;
  float: left;
  overflow: hidden;
  opacity: 0.85;
}

#side1 {
  transform: rotatex(90deg) translateX(0px) translateY(0px) translateZ(116.5px);
}

#side2 {
  transform: translateX(0px) translateY(0px) translateZ(116.5px);
}

#side3 {
  transform: rotateY(90deg) translateX(0px) translateY(0px) translateZ(116.5px);
}

#side1,
#side2,
#side3 {
  background-image: none;
  border: 5px solid black;
  background-color: #161616;
  animation: Color 4s linear infinite;
  -webkit-animation: Color 4s ease-in-out infinite;
}

@keyframes Color {
  0% {
    color: #a0d468;
  }

  20% {
    color: #4fc1e9;
  }

  40% {
    color: #ffce54;
  }

  60% {
    color: #fc6e51;
  }

  80% {
    color: #ed5565;
  }

  100% {
    color: #ac92ec;
  }
}

@-moz-keyframes Color {
  0% {
    color: #a0d468;
  }

  20% {
    color: #4fc1e9;
  }

  40% {
    color: #ffce54;
  }

  60% {
    color: #fc6e51;
  }

  80% {
    color: #ed5565;
  }

  100% {
    color: #ac92ec;
  }
}

@-webkit-keyframes Color {
  0% {
    color: #a0d468;
  }

  20% {
    color: #4fc1e9;
  }

  40% {
    color: #ffce54;
  }

  60% {
    color: #fc6e51;
  }

  80% {
    color: #ed5565;
  }

  100% {
    color: #ac92ec;
  }
}
